body{
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 150px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 25px;
}

button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

button:hover{
    background: royalblue;
}